/* Оформление фонового изображения */
.background-image {
  background-image: url("baba.jpg"); /* Путь к изображению фона */
  background-position: center; /* Положение фона - по центру */
  background-size: cover; /* Масштабирование фона для заполнения контейнера */
  position: fixed; /* Фиксированная позиция элемента */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5; /* Прозрачность фона */
  z-index: -1; /* Позиционирование элемента "под" другими элементами */
}

/* Оформление контейнера */
.container {
  max-width: 800px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Выравнивание контейнера по центру */
  padding: 40px; /* Внутренний отступ контейнера */
  color: white; /* Цвет текста в контейнере */
  text-align: center; /* Выравнивание текста по центру */
  background-color: rgba(0, 0, 0, 0.7); /* Цвет фона контейнера с прозрачностью */
  border-radius: 10px; /* Скругление углов контейнера */
}

/* Оформление заголовка */
h1 {
  font-family: 'Pacifico', cursive; /* Шрифт заголовка */
  font-size: 72px; /* Размер шрифта заголовка */
  margin-bottom: 20px; /* Внешний отступ снизу */
  color: #4CAF50; /* Цвет заголовка */
}

/* Оформление обычного текста */
p {
  font-size: 24px; /* Размер шрифта текста */
  margin-bottom: 40px; /* Внешний отступ снизу */
  color: #f40b0b; /* Цвет текста */
}

/* Оформление кнопки */
button {
  background-color: #4CAF50; /* Цвет фона кнопки */
  border: none; /* Удаление границы кнопки */
  color: white; /* Цвет текста на кнопке */
  padding: 15px 32px; /* Внутренний отступ кнопки */
  text-align: center; /* Выравнивание текста по центру */
  text-decoration: none; /* Удаление подчеркивания текста */
  display: inline-block; /* Отображение кнопки как блочного элемента */
  font-size: 24px; /* Размер шрифта кнопки */
  margin-top: 40px; /* Внешний отступ сверху */
  cursor: pointer; /* Изменение вида курсора при наведении */
  transition: background-color 0.3s ease-in-out; /* Плавный переход цвета фона */
  border-radius: 5px; /* Скругление углов кнопки */
}

/* Оформление активной кнопки */
button.active {
  background-color: #f44336; /* Цвет фона активной кнопки */
}

/* Оформление модального окна */
.modal {
  display: none; /* Скрытие модального окна по умолчанию */
  position: fixed; /* Фиксированная позиция элемента */
  z-index: 1; /* Позиционирование элемента "над" другими элементами */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Добавление прокрутки, если содержимое не помещается */
  background-color: rgba(0, 0, 0, 0.7); /* Цвет фона модального окна с прозрачностью */
}

/* Оформление содержимого модального окна */
.modal-content {
  background-color: white; /* Цвет фона содержимого модального окна */
  margin: 15% auto; /* Выравнивание модального окна по вертикали и горизонтали */
  padding: 20px; /* Внутренний отступ содержимого модального окна */
  border: 1px solid #888; /* Граница содержимого модального окна */
  width: 80%; /* Ширина содержимого модального окна */
  border-radius: 5px; /* Скругление углов содержимого модального окна */
}

/* Оформление кнопки закрытия модального окна */
.close {
  color: #aaa; /* Цвет символа кнопки закрытия */
  float: right; /* Выравнивание кнопки закрытия по правому краю */
  font-size: 28px; /* Размер шрифта кнопки закрытия */
  font-weight: bold; /* Жирное начертание текста кнопки закрытия */
}

.close:hover,
.close:focus {
  color: black; /* Изменение цвета кнопки закрытия при наведении и фокусе */
  text-decoration: none; /* Удаление подчеркивания текста */
  cursor: pointer; /* Изменение вида курсора при наведении */
}

/* Оформление метки формы */
form label {
  display: block; /* Отображение метки формы как блочного элемента */
  margin-bottom: 10px; /* Внешний отступ снизу */
  color: #ffffff; /* Цвет текста метки формы */
}

/* Оформление текстового поля ввода */
form input[type="text"],
form input[type="password"] {
  padding: 10px; /* Внутренний отступ текстового поля ввода */
  width: 100%; /* Ширина текстового поля ввода */
  margin-bottom: 20px; /* Внешний отступ снизу */
  border-radius: 4px; /* Скругление углов текстового поля ввода */
  border: 1px solid #ccc; /* Граница текстового поля ввода */
}

/* Оформление кнопки отправки формы */
form input[type="submit"] {
  background-color: #4CAF50; /* Цвет фона кнопки отправки */
  color: white; /* Цвет текста на кнопке отправки */
  border: none; /* Удаление границы кнопки отправки */
  padding: 10px; /* Внутренний отступ кнопки отправки */
  font-size: 16px; /* Размер шрифта кнопки отправки */
  cursor: pointer; /* Изменение вида курсора при наведении */
  border-radius: 4px; /* Скругление углов кнопки отправки */
}

/* Оформление кнопки отмены формы */
form button.cancel {
  background-color: #ddd; /* Цвет фона кнопки отмены */
  color: black; /* Цвет текста на кнопке отмены */
  border: none; /* Удаление границы кнопки отмены */
  padding: 10px; /* Внутренний отступ кнопки отмены */
  font-size: 16px; /* Размер шрифта кнопки отмены */
  cursor: pointer; /* Изменение вида курсора при наведении */
  border-radius: 4px; /* Скругление углов кнопки отмены */
}

form button.cancel:hover {
  background-color: #bbb; /* Изменение цвета кнопки отмены при наведении */
}

/* Оформление элемента отображения учетных данных */
#credentialsDisplay {
  font-size: 18px; /* Размер шрифта элемента */
  margin-top: 20px; /* Внешний отступ сверху */
  color: #e0ec04; /* Цвет текста элемента */
}
